<div class="row">
    <div class="col-md-4">
        <div class="checkbox checkbox-success checkbox-circle">
    <input id="chkSuccess" type="checkbox" checked />
    <label for="chkSuccess"></label>
        </div>
        </div>
        </div>